html body {
    background-color: $background;
    overflow-y: scroll;
    overflow-x: hidden;
}


.color-main {
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg, $green-3 0%, $green-primary 100%);
    height: 540px;
    width: 100%;
    top: 0;
    border-radius: 0px 0px 48px 48px;
}

.text-main {
    padding-top: 16px;

    h1 {
        font-family: 'Sora', sans-serif;
        font-weight: 800;
        font-size: 48px;
        color: $white-5;
    }

    h5 {
        margin-top: 16px;
        font-family: 'Sora', sans-serif;
        font-weight: 400;
        font-size: 24px;
        color: $white-1;
    }


}

.hand-effect {

    margin-top: 24px;
    margin-bottom: 60px;
    transform-origin: center center;
    transform-box: fill-box;
    animation: hand-animation 2s linear alternate infinite;


    @keyframes hand-animation {
        0% {
            transform: translate3d(16px, 0, 0) rotate(4deg);

        }

        100% {
            transform: translate3d(0, -8px, 0) rotate(-4deg);
        }
    }
}

.edit-final-main {
    
    margin-top: 16px;
    display: table;

    img {
        float: left;
        margin-right: 24px;
    }

    div {
        display: table;
        h2 {
            font-family: 'Sora' sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;

            color: #000E09;
        }
        p{
            font-family: 'Sora', sans-serif;
            font-weight: 400;
            font-size: 16px;
            color: #000E09; 
        }
    }

}